@using CbsTest.Web.Shared.City
@inject HttpClient Http

<h3>Cities:</h3>

@if (cities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Foundation Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cities)
            {
               <CityRowEditor City=@item OnChanged=ItemChanged/>
            }
        </tbody>
    </table>
}

@code {
    private City[]? cities;

    protected override async Task OnInitializedAsync()
    {
        var response = (await Http.GetFromJsonAsync<CityResponse[]>("api/city")) ?? new CityResponse[0];
        cities = response.Select(x => new City(x)).ToArray();
    }

    private Task ItemChanged(City item)
    {
        var request = item.ToUpdateRequest();
        return Http.PutAsJsonAsync<UpdateCityRequest>($"api/city/{item.Id}", request);
    }
}
